<!--<update-meta property="og:description" content="{{data.article.title}}"></update-meta>
<update-meta property="og:image" content="{{data.article.images[0].url}}"></update-meta>
<update-meta property="og:url" content="http://www.goodoc.kr/articles/{{data.article.id}}"></update-meta>-->

<div class="wrapper">

  <!-- header & mobile header-->
  <article-header [data]="data"></article-header>
  <!-- // header -->

  <!-- article -->
  <div class="article"><!-- ng-show="isArticle" -->
    <div class="article_header">
      <div class="user">
        <div class="user_image"><!-- ng-click="popup('프로필이미지')"-->
          <img [hidden]="!data?.article?.user?.image" src="{{data?.article?.user?.image?.url}}" width="100">
          <img [hidden]="data?.article?.user?.image" src=".../../assets/img/mw_info_empty_profile.png" width="100">
        </div>
        <div class="user_info">
          <div class="user_name" >{{data?.article?.user?.nick_name}}</div><!-- ng-click="popup('닉네임')"-->
          <div class="article_date">19.02.02</div><!-- {{data.article.date | convertDate | date:'yyyy-MM-dd'}}-->
        </div>
      </div>
      <div class="tip" *ngIf="data?.article?.type == 'review'" ><!-- ng-click="popup('꿀팁받기_후기')" -->
        <div class="tip_image">
          <img src="../../assets/img/mw_ic_tip_text.png" alt="">
        </div>
        <div class="tip_count">
          {{data?.article?.reviewinfo_count}}
        </div>
      </div>
    </div>
    <div [ngClass]="{'review':data?.article?.type == 'review', 'short':!isBeforeAfter}">
      <div class="before_after_wrapper" *ngIf="isBeforeAfter">
        <div class="before_after_label">
          <img src=".../../assets/img/mw_info_text.png" alt="">
        </div>
        <div class="before" ><!-- ng-click="popup('전후사진_후기')"-->
          <img class="before_image" src="../../assets/img/mw_blank.png">
          <img class="before_lock" src="../../assets/img/mw_ic_list_lock.png">
        </div>
        <div class="after">
          <img [src]="afterImage.url" >
        </div>
      </div>
      <div class="body" [innerHTML]="data?.article?.body"></div>
    </div>

    <!-- more button -->
    <div class="more_btn" *ngIf="data?.article?.type == 'review'" ><!-- ng-click="popup('더보기_후기')"-->
      <span class="more_btn_text">더보기</span>
      <span class="more_btn_image">
        <img src="../../assets/img/mw_ic_arrow.png">
      </span>
    </div>
    <!-- // more button -->


    <!-- like, clipping button -->
    <article-feature [data]="data"></article-feature>
    <!-- like, clipping button -->

    <!-- social button -->
    <article-social [data]="data"></article-social>
    <!-- social button -->


    <!-- link copy -->
    <!--<div class="link_copy" ng-show="mobile_link_copy">
      <div class="link_copy_input">
        <a href="http://www.goodoc.kr/articles/{{data.article.id}}" onclick="return false;">http://www.goodoc.kr/articles/{{data.article.id}}</a>

      </div>
      <div class="link_copy_text">
        URL을 길게 누르시면 복사하실 수 있습니다.
      </div>
    </div>-->
    <!-- link copy -->

  </div>
  <!-- // article -->

  <!-- reply -->

  <article-reply [data]="data" [isArticle]="isArticle"></article-reply>

  <!-- // replay -->

  <!-- more -->
  <!--<div class="more_btn" *ngIf="isArticle">&lt;!&ndash; ng-click="popup('댓글_더보기')"&ndash;&gt;
    <span class="more_btn_text">더보기</span>
    <span class="more_btn_image">
            <img src="../../assets/img/mw_ic_arrow.png">
        </span>
  </div>-->
  <!-- // more -->

  <!-- no content -->
  <div class="no_article" *ngIf="!isArticle">
    <div class="no_image">
      <img src="../../assets/img/mw_info_goodoc.png" alt="">
    </div>
    <div class="no_text_title">글이 없어요 ㅜㅜ</div>
    <div class="no_text">
      존재하지 않는 글입니다<br />
      아쉬운 마음 실시간 핫한 글로 달래보아요~
    </div>
  </div>
  <!-- // no content -->

  <!-- hot -->
  <hot-article [data]="data"></hot-article>
  <!-- // hot -->

</div>