<div class="like_scrap_btn">
  <a href><!-- ng-click="popup('좋아요')"-->
    <div class="image">
      <img src="../../assets/img/mw_ic_like.png" alt="">
    </div>
    <div class="text">
      좋아요 <span class="count">{{data?.article?.like_count}}</span>
    </div>
  </a>
  <a href ><!-- ng-click="popup('스크랩')" -->
    <div class="image">
      <img src="../../assets/img/mw_ic_scrap.png" alt="">
    </div>
    <div class="text">
      스크랩 <span class="count">{{data?.article?.scrap_count}}</span>
    </div>
  </a>
</div>